/* =======================
   RAW TAGS DEFAULT STYLES
   ======================= */

html {
  box-sizing: border-box;

  color: $neutral-900;
  font-family: $font-text;
  font-size: 1rem;
  font-weight: 400;

  background: $neutral-100;

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: $large-container-width;
  min-height: 100vh;
  margin: auto;
  padding: 1.5rem;
}

section {
  text-align: center;
}

h1 {
  font-size: 1.75 * $txt-size;
  font-weight: 200;

  @media (min-width: $medium-breakpoint) {
    font-size: $h1-size;
  }
}

h2 {
  font-size: 1.75 * $txt-size;
  font-weight: 600;

  @media (min-width: $medium-breakpoint) {
    font-size: $h1-size;
  }
}

h3 {
  font-size: $h3-size;
  font-weight: 600;
}

p {
  color: $neutral-700;
  font-size: $txt-size;
  line-height: 1.75;
}


